<div style="width: 100%; clear: both;">
    <div style="float: left; width: 50%;">
       <img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg", align="left">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; padding-top: 22px; text-align:right;">M1.771 · Privacidad</p>
    <p style="margin: 0; text-align:right;">Máster Universitario en Ciberseguridad y Privacidad</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Estudios de Informática, Multimedia y Telecomunicación</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>

# Practica 1

Para resolver esta práctica, tenéis que poner las soluciones en el mismo *notebook*, en las celdas de código que están en blanco habilitadas para ello. Podéis poner celdas *markdown* para contestar las preguntas en las que no se pide código o contestarlas en las celdas de código con comentarios. No es obligatorio, pero sí recomendable que justifiquéis las respuestas que dais, ya que eso facilita la corrección en caso de una respuesta incorrecta (pudiendo valorar el planteamiento).

En esta práctica trabajaremos con funciones sencillas de las librerias `pandas` y `numpy` de Python. En algunos ejercicios se proporciona algún *hint* sobre posibles funciones a utilizar para obtener la solución. Se trata simplemente de una orientación, ya que se puede obtener el mismo resultado de muchas maneras.

En esta práctica vamos a tratar el problema de la publicación de microdatos. Para ello tenemos un fichero de microdatos con las notas de estudiantes con los siguientes atributos:
- `name`: nombre de la/el estudiante.
- `subject0`: nota obtenida en la asignatura 0
- `subject1`: nota obtenida en la asignatura 1
- `subject2`: nota obtenida en la asignatura 2
- `subject3`: nota obtenida en la asignatura 3

Se considera que la nota obtenida en una asignatura por una/un estudiante es privada, y por tanto, no se puede publicar de forma directa. Veremos como podemos proteger el fichero de microdatos para publicarlo.

El fichero en cuestión está en formato CSV y lo podéis encontrar en `data/students.csv`. Podemos leer el fichero utilizando la funcion [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) de pandas:

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/students.csv')
df.describe()

           subject0     subject1      subject2      subject3
count  10000.000000  10000.00000  10000.000000  10000.000000
mean       5.417870      5.46277      5.408580      5.327550
std        3.120572      3.05477      3.077476      3.125406
min        0.000000      0.00000      0.000000      0.000000
25%        2.700000      2.80000      2.900000      2.500000
50%        5.550000      5.50000      5.350000      5.300000
75%        8.200000      8.10000      8.200000      8.200000
max       10.000000     10.00000     10.000000     10.000000

## Ejercicio 1 (0.5)

Para poder publicar la lista de notas se procede a eliminar el nombre de las y los estudiantes. Crea un nuevo DataFrame, `df0` que contenga la nota de las asignaturas sin el nombre.

*Hint*: [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
# En primer lugar, observamos los nombres de las columnas para poder determinar
# como se denomina la columna de los nombres de los estudiantes
df.columns

Index(['name', 'subject0', 'subject1', 'subject2', 'subject3'], dtype='object')

In [ ]:
# Vemos asi que estos nombres a borrar pertenecen a la columna 'name'
df0 = df.drop(columns=['name'])
df0.describe()

           subject0     subject1      subject2      subject3
count  10000.000000  10000.00000  10000.000000  10000.000000
mean       5.417870      5.46277      5.408580      5.327550
std        3.120572      3.05477      3.077476      3.125406
min        0.000000      0.00000      0.000000      0.000000
25%        2.700000      2.80000      2.900000      2.500000
50%        5.550000      5.50000      5.350000      5.300000
75%        8.200000      8.10000      8.200000      8.200000
max       10.000000     10.00000     10.000000     10.000000

## Ejercicio 2 (0.5)

Ahora podríamos pensar que `df0` se puede publicar sin que ello suponga un riesgo a la privacidad. Pero como ya deberías saber después de leer los materiales, esto no es cierto.

Suponemos que un atacante conoce a una estudiante de la que sabe las notas obtenidas en las dos primeras asignaturas: *subject0* y *subject1*. ¿Podria el atacante saber la nota del resto de asignaturas a partir de `df0`? ¿Que tiene que cumplirse para qué se pueda hacer este ataque? Responde la pregunta a nivel teórico, sin realizar ningun cálculo sobre los datos.

**Respuesta**: depende del numero de estudiantes que tengamos almacenados en el archivo *students.csv* y la precision con la que se ofrecen las calificaciones de cada asignatura. Para ello vamos a proceder a analizar estas dos variables para este caso en concreto, y determinar asi si el resto de las calificaciones de este estudiante en cuestion estarian en riesgo de ser filtradas:

In [ ]:
# Numero de estudiantes y Precision de las calificaciones
df0

      subject0  subject1  subject2  subject3
0          8.5       6.1       1.0       8.8
1          0.1       4.9       1.8       5.2
2          2.5       7.0       4.1       9.7
3          6.5       6.4       6.1       9.0
4          0.8       9.7       2.3       5.3
...        ...       ...       ...       ...
9995       0.3       1.8       6.1       9.8
9996       4.9       5.8      10.0       3.6
9997       0.2      10.0       3.7       6.5
9998       8.8       8.5       1.5       5.2
9999       0.8       2.4       5.7       7.2

[10000 rows x 4 columns]

**Conclusion**: ahora conocemos las 2 variables en cuestion, por un lado, el numero de estudiantes es 10 000 y por otro, la precision es de 1 decimal lo que nos ofrece 100 posibles calificaciones para una misma asignatura. Si bien es cierto que hay que tener en consideracion la *standard deviation* indicada en las celdas resultados superiores con la etiquete *std*, a grandes rasgos podemos afirmar que las probabilidades de que el atacante encuentre las notas restantes son de (1/N)^N. Es decir, las probabilidades de que solo un estudiante cuente con las 2 calificaciones (*subject0* y *subject1*) mencionadas.

## Ejercicio 3 (1)

Suponed que somos un atacante. Sabemos que una estudiante tiene las notas:
- subject0: 7.7
- subject1: 6.6

¿Podemos saber que notas ha sacado en el resto de asignaturas? Si la respuesta es afirmativa muestra las notas del resto de asignaturas, en caso contrario justifica porque no podemos saber dichas notas.

*Hint*: [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

In [ ]:
df0.loc[(df0['subject0'] == 7.7) & (df0['subject1'] == 6.6)]

      subject0  subject1  subject2  subject3
6021       7.7       6.6       0.9       9.5

**Respuesta**: en este caso si, ya que tan solo el estudiante *6021* cuenta con ambas calificaciones en subject0 y 1 respectivamente. Es por ello que podemos saber que en la *subject2* su calificacion ha sido pobre *0.9* pero su calificacion de *subject3* ha sido buena *9.5*.

## Ejercicio 4 (1.5)

Queremos ahora proteger los datos en `df0` y para ello vamos a aplicar ruido aditivo no correlacionado a todos los atributos (todas las notas).

Define una función llamada `additive_noise` que reciba como parámetro un
`DataFrame` como `df0`, el parámetro *p* que determina el nivel de ruido
y retorne un `DataFrame` nuevo con el ruido añadido.

El ruido aditivo, se obtiene de forma aleatoria de una distribución normal
$N(\mu, \sigma^2)$ con una media $\mu=0$ y una varianza
$\sigma^2=p\sigma^2_a$, donde $\sigma^2_a$ es la varianza de los valores
originales.

*Hint:* [`numpy.random.normal`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)

In [ ]:
def additive_noise(DataFrame, p):
  # Determinamos mu como 0 y sigma como la varianza 
  mu, sigma = 0, p
  num_rows, num_columns = DataFrame.shape
  
  # Calculamos el ruido mediante los parametros mu y sigma para las dimensiones
  # del DataFrame pasado como parametro
  noise = np.random.normal(mu, sigma, [num_rows, num_columns])

  return DataFrame + noise

## Ejercicio 5 (0.5)

Aplica la funcion `additive_noise` que has definido anteriormente a `df0` para obtener un nuevo `DataFrame` `df1` que contenga los datos protegidos con un nivel de ruido `p=0.1`

In [ ]:
p = 0.1
df1 = additive_noise(df0, p)

# Representamos y analizamos resultado:
df1

      subject0  subject1   subject2  subject3
0     8.626198  5.965825   0.966315  8.797823
1     0.113891  4.868677   1.920834  5.257607
2     2.431817  6.937052   4.069877  9.666517
3     6.365573  6.423136   6.260255  8.819692
4     0.730126  9.816994   2.379909  5.288252
...        ...       ...        ...       ...
9995  0.278551  1.754975   5.961655  9.935928
9996  4.939318  5.586946  10.192873  3.622282
9997  0.429611  9.879471   3.729878  6.575097
9998  8.751603  8.409042   1.454019  5.367120
9999  0.778226  2.470233   5.561042  7.396072

[10000 rows x 4 columns]

## Ejercicio 6 (0.5)

Muestra que ahora el ataque del Ejercicio 3 no tiene éxito. Justifica por que

In [ ]:
df1.loc[(df1['subject0'] == 7.7) & (df1['subject1'] == 6.6)]

Empty DataFrame
Columns: [subject0, subject1, subject2, subject3]
Index: []

**Analisis**: al anyadir el ruido, se logra alterar los resultados de los alumnos en base a una varianza (en este caso *p = 0.1*. Esto hace que conocer algunas calificaciones de un alumno no asegure encontrarlo y por tanto, no asegure el conocimiento del resto de calificaciones. El atacante tendra por tanto que establecer un rango infiriendo la varianza (en caso de no conocerla), pero esto complicara encontrar el alumno en cuestion e incluso lo imposibilitara.

## Ejercicio 7 (2)

Aunque el ataque anterior no tiene éxito podemos intentar aproximarlo. Puede ser que no haya p.e. ningún registro con `subject0 == 7.7` pero puede ser que tenga un valor muy cercano.

Para ello podemos buscar los registros en `df1` que cumplan las siguientes condiciones:
- $7.6 < subject0 < 7.8$
- $6.5 < subject1 < 6.7$

Dado que el proceso de anonimización con ruido tiene un alto grado de aleatoriedad, vamos a repetir 5 veces las siguientes operaciones:
1. Aplicar `additive_noise` con $p=0.01$ a `df0`
2. Seleccionar los registros que cumplan las condiciones anteriores sobre `subject0` y `subject1`.
3. Mostrar el número de registros que cumplen la condicion.
4. Mostrar si está el registro que buscamos entre los registros seleccionados.

Como resultado tenéis que mostrar el número de registros seleccionados, y si el registro que buscamos está en los seleccionados para las 5 ejecuciones.

*Hint*: se puede identificar el registro que buscamos por su índice (el índice del registro obtenido en el Ejercicio 3.

In [ ]:
# Determinamos los parametros que seran utilizados por nuestra funcion de busqueda
p, reps = 0.01, 5
subject0_low, subject0_high = 7.6, 7.8
subject1_low, subject1_high = 6.5, 6.7
target_student = 6021

"""
Denominamos asi a la funcion de busqueda en base a unos intervalos de calificaciones
para las asignaturas subject0 y 1.
"""
def finding_nemo(DataFrame, p, reps, verbose):
  # En esta lista guardaremos los resultados de las DataFrames modificadas
  # asi, estas podran ser utilizadas por sucesivas funciones creadas en
  # apartados siguientes
  noisy_df_list = []

  for i in range(reps):
    # Aplicamos la funcion additive noise a la DataFrame en base a la varianza definida
    noisy_df = additive_noise(DataFrame, p)
    noisy_df_list.append(noisy_df)
    # Si se encuentra una fila con las asingaturas 0 y 1 en el rango asignado
    # se almacena en la dataframe matches_found
    matches_found = noisy_df.loc[(noisy_df['subject0'].between(subject0_low, subject0_high)) & \
                 (noisy_df['subject1'].between(subject1_low, subject1_high))]
    # En caso de especificar verbose como True, se imprimen los resultados de las busquedas
    if verbose: 
      print('Found {} rows for iteration {}\n'.format(matches_found.shape[0], i))
      print(matches_found)
      print('Student 6021 found: {} \n\n'.format(target_student in matches_found.index))

  return noisy_df_list

df_list = finding_nemo(df0, p, reps, True)

Found 3 rows for iteration 0

      subject0  subject1  subject2  subject3
2023  7.785717  6.697228  5.388504  7.608968
4879  7.602528  6.681610  4.889772  0.798416
6021  7.698361  6.589275  0.899669  9.500327
Student 6021 found: True


Found 2 rows for iteration 1

      subject0  subject1  subject2  subject3
4452  7.796259  6.604306  1.205895  2.099822
6021  7.698046  6.603437  0.925052  9.501759
Student 6021 found: True


Found 6 rows for iteration 2

      subject0  subject1  subject2  subject3
717   7.616300  6.684902  5.976847  1.296157
4452  7.797094  6.586688  1.191021  2.090654
4879  7.623591  6.666403  4.899909  0.781019
5858  7.609324  6.501181  6.104737  1.895057
6021  7.701294  6.604779  0.894688  9.483979
6414  7.799763  6.512503  3.498402  4.499185
Student 6021 found: True


Found 9 rows for iteration 3

      subject0  subject1  subject2  subject3
387   7.796091  6.692146  7.900914  8.185067
717   7.610026  6.689998  5.990155  1.290626
2023  7.787962  6.683582  5.419939  7.601090
2451  7.797876  6.505834  5.897226  6.992287
4879  7.603087  6.697281  4.890891  0.783061
5858  7.612680  6.510219  6.085015  1.893208
5999  7.695792  6.525463  3.409357  9.890729
6021  7.728671  6.588753  0.902932  9.510522
9352  7.687749  6.510865  0.888341  4.115863
Student 6021 found: True


Found 1 rows for iteration 4

      subject0  subject1  subject2  subject3
6021  7.704401  6.598636  0.880657  9.505039
Student 6021 found: True

**Resultado**: se ha econtrado el alumno 6021 en las 5 iteraciones

## Ejercicio 8 (0.5)

Basándonos en los resultados obtenido en las 5 ejecuciones anteriores, ¿cuál es el número medio de registros que retorna cada ejecución (que cumplan la condición sobre *subject0* y *subject1*?

**Respuesta**: el numero medio de registros retornados por iteracion es de *6* registros encontrados. El numero de registros encontrados (con posibles coincidencias) oscila entre 9 y 1

## Ejercicio 9 (1)

Al proteger los datos en `df1` estamos introduciendo una perdida de información. Para medir esta perdida vamos a utilizar el *Mean Squared Error (MSE)* tal como se define en los materiales de la asignatura.

Define una funcion `mse` que dados dos `DataFrame`s retorne el MSE entre ellos, y repite el experimento anterior de las 5 ejecuciones mostrando en cada caso el MSE

In [ ]:
"""
Mean Squared Error (MSE): mide la media de la diferencia elemento a
elemento al cuadrado. Una característica de esta medida es que da más
peso a valores atípicos (outliers) al elevar al cuadrado la diferencia.
MSE(A,B) = 1/NM * SUMij (aij - bij)^2
"""
def mse(original_df, noisy_df):
  return np.mean((original_df - noisy_df) ** 2)

In [ ]:
# Experimentation cell
noisy_df_list = finding_nemo(df0, p, reps, False)
for noisy_df in noisy_df_list:
  print(mse(df0, noisy_df))
  print('\n')

subject0    0.000100
subject1    0.000101
subject2    0.000100
subject3    0.000102
dtype: float64


subject0    0.000100
subject1    0.000099
subject2    0.000097
subject3    0.000102
dtype: float64


subject0    0.000100
subject1    0.000100
subject2    0.000101
subject3    0.000101
dtype: float64


subject0    0.000101
subject1    0.000098
subject2    0.000099
subject3    0.000101
dtype: float64


subject0    0.000102
subject1    0.000099
subject2    0.000100
subject3    0.000099
dtype: float64

## Ejercicio 10 (2)

Queremos ahora aumentar el nivel de privacidad de los datos protegidos anteriormente pero mantiendo un nivel de perdida de información de $MSE \leq 30$. Para ello vamos a considerar los siguientes puntos:
- Consideramos como posibles valores del parámetro $p$ únicamente números con un solo dígito decimal (p.e. $0.1, 0.2, 0.3, \ldots$).
- Evaluaremos el número de registros que obtenemos con las 5 ejecuciones del Ejercicio 8. Es decir se realizan 5 protecciones con el mismo parámetro $p$ y miramos el MSE medio de las 5 ejecuciones.

Determina el valor máximo de $p$ que nos proporcione un MSE medio menor o igual a 30.

In [ ]:
# El valor p mas elevado antes de sobrepasar MSE = 30 es 5.4,
# este valor puede ser inferido al realizar la raiz cuadrada de 30
# lo que da 5.477 como resultado

p = 5.4
print('\033[1;32m p = {} results:\n'.format(p))
noisy_df_list = finding_nemo(df0, p, reps, False)
for noisy_df in noisy_df_list:
  print(mse(df0, noisy_df))

p = 5.5
print('\n\n\033[1;31m p = {} results:\n'.format(p))
noisy_df_list = finding_nemo(df0, p, reps, False)
for noisy_df in noisy_df_list:
  print(mse(df0, noisy_df))

 p = 5.4 results:

subject0    29.507601
subject1    28.675220
subject2    29.418354
subject3    29.247280
dtype: float64
subject0    28.784709
subject1    29.124696
subject2    29.622050
subject3    29.470216
dtype: float64
subject0    29.475292
subject1    29.100263
subject2    29.716273
subject3    29.451208
dtype: float64
subject0    29.613503
subject1    30.080904
subject2    28.969056
subject3    30.574948
dtype: float64
subject0    29.160358
subject1    28.989704
subject2    29.261999
subject3    29.239206
dtype: float64


 p = 5.5 results:

subject0    30.614457
subject1    30.273213
subject2    30.765555
subject3    29.551198
dtype: float64
subject0    29.503229
subject1    30.018965
subject2    30.709168
subject3    30.599887
dtype: float64
subject0    30.382838
subject1    30.579379
subject2    29.171778
subject3    30.746247
dtype: float64
subject0    29.856295
subject1    31.232666
subject2    30.634117
subject3    29.851044
dtype: float64
subject0    30.388546
subject1    30.619130
subject2    30.267361
subject3    30.233308
dtype: float64